<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>

  </div>
  <hr>
  <div>
    <h5> If you are worker, please choose what kind of service yot can provide </h5>
    <%= f.label :worker_type %>
    <%= f.select :worker_type, User.worker_types, {include_blank: true}, class: "form-control  form-control-sm" %>
  </div>
  <br>
  <br>
  <div class="form-actions">
    <%= f.button :submit, "Sign up", class: 'btn tn-md-info' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
