%h1 Choose Worker
- if @workers.any?
  - @workers.each do |worker|

    = simple_form_for (@phase) do |f|
      = f.error_notification
      = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

      .form-inputs
        = f.input :worker_name, as: :radio_buttons, collection: @workers

      .form-actions
        = f.button :submit

    = link_to worker.name, worker_path(worker)
    %br
- else
  %p There's no workers for this job available



= link_to 'Show', @phase
\|
= link_to 'Back', phases_path
